{% extends "base.html" %} <!-- It's part of base.html, so it doesn't need the entire <body>, <html>, <title> stuff.-->

{% block content %}
<!-- Login form -->
<form method="POST">
    <!-- Username input field -->
    Username: <input name="username" required><br>

    <!-- Password input field -->
    Password: <input type="password" name="password" required><br>

    <!-- Submit button to log in -->
    <button type="submit">Login</button>
</form>

<!-- Link to registration page for new users -->
<a href="{{ url_for('register') }}">Register</a>
{% endblock %}

<!-- By C4L-->